{% extends "./plantilla.html" %}
{% load static %}
{% block body %}

<div class="container">
    <h1 class="text-center">Gestión de Cines con Peticiones Asíncronas</h1>
    <div class="row">
        <div class="col-md-12 text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fas fa-plus"></i> 
                <b>Agregar Cine</b>
            </button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-info" onclick="cargarCines();">
              <i class="fas fa-refresh"></i> 
              <b>Actualizar</b>
          </button>
        </div>
    </div>
    <div class="col-md-12" id="contenedor-cines"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Cine</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="frm_nuevo_cine">
                    {% csrf_token %}
                    <label for="nombre"><b>Nombre:</b></label>
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese el nombre del cine">
                    <br>
                    <label for="direccion"><b>Dirección:</b></label>
                    <input type="text" name="direccion" id="direccion" class="form-control" placeholder="Ingrese la dirección">
                    <br>
                    <label for="telefono"><b>Teléfono:</b></label>
                    <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Ingrese el teléfono">
                    <br>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i>
                        Guardar
                    </button>            
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <i class="fas fa-times"></i>
                        Cancelar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br>

<script>
    $(document).ready(function() {
        $("#frm_nuevo_cine").validate({
            rules: {
                nombre: {
                    required: true
                },
                direccion: {
                    required: true
                },
                telefono: {
                    required: true,
                    number: true
                }
            },
            messages: {
                nombre: {
                    required: "Por favor, ingrese el nombre del cine."
                },
                direccion: {
                    required: "Por favor, ingrese la dirección del cine."
                },
                telefono: {
                    required: "Por favor, ingrese el teléfono del cine.",
                    number: "Por favor, ingrese un número válido."
                }
            },
            submitHandler: function(formulario) {
                $.ajax({
                    url: "{% url 'guardarCine' %}",
                    type: 'post',
                    data: $(formulario).serialize(),
                    success: function(data) {
                        if (data.estado) {
                            Swal.fire({
                                title: "CONFIRMACIÓN",
                                text: data.mensaje,
                                icon: "success"
                            });
                            $('#exampleModal').modal('hide'); // Cierra el modal después de guardar exitosamente
                            $ (formulario)[0].reset();
                        } else {
                            Swal.fire({
                                title: "ERROR",
                                text: data.mensaje,
                                icon: "error"
                            });
                        }
                    },
                    error: function(error) {
                        console.log(error); // Maneja los errores del servidor
                        Swal.fire({
                            title: "ERROR",
                            text: "Ocurrió un error al procesar la solicitud.",
                            icon: "error"
                        });
                    }
                });
            }
        });
    });

    function cargarCines(){
      $("#contenedor-cines").load('{% url "listadoCines" %}');
    }
    cargarCines();
</script>

{% endblock %}