<!-- Incluye jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Incluye Bootstrap JavaScript (popper.js y bootstrap.min.js) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% extends "./plantilla.html" %}

{% block body %}
<br>
<div class="card">
    <div class="card-title text-center"></div>
    <h3><b>Listado de Géneros</b></h3>
    <br>
    <div class="text-end">
        <a href="{% url 'nuevoGenero' %}" class="btn btn-success">Agregar Género</a>
    </div>
    <table class="table table-bordered table-striped table-hover" id="tbl-generos">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>FOTO</th>
                <th>DESCRIPCIÓN</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for generoTemporal in generos %}
            <tr>
                <td>{{ generoTemporal.id }}</td>
                <td>{{ generoTemporal.nombre }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ generoTemporal.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Descargar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ generoTemporal.id }}">
                            <a class="dropdown-item" href="{{ generoTemporal.foto.url }}" target="_blank">Ampliar Imagen</a>
                            <a class="dropdown-item" download href="{{ generoTemporal.foto.url }}" target="_blank">Descargar Imagen</a>
                        </div>
                    </div>
                    <a download href="{{ generoTemporal.foto.url }}" target="_blank">
                        <img src="{{ generoTemporal.foto.url }}" alt="" height="100px" width="100px">
                    </a>
                </td>
                <td>{{ generoTemporal.descripcion }}</td>
                <td>
                    <a href="{% url 'editarGenero' generoTemporal.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'eliminarGenero' generoTemporal.id %}" class="btn btn-danger"
                     onclick="return confirm('¿Estás seguro de eliminar?')">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Añadir el contenedor para el gráfico de Google Charts -->
<div id="piechart" style="width: 900px; height: 500px; margin-top: 20px;"></div>

<!-- Carga la biblioteca de Google Charts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Carga la biblioteca de Google Charts con el paquete 'corechart'
    google.charts.load('current', {'packages':['corechart']});
    // Establece una función de devolución de llamada para que se ejecute cuando la API de Google Charts esté cargada
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        // Datos pasados desde la vista
        var rawData = {{ chart_data|safe }};
        
        // Convierte los datos en un formato que Google Charts pueda usar
        var data = google.visualization.arrayToDataTable(rawData);

        // Opciones del gráfico
        var options = {
            title: 'Distribución de Géneros de Películas',
            is3D: true,
            pieSliceText: 'label'
        };

        // Crea el gráfico de tipo PieChart y lo dibuja en el contenedor 'piechart'
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>

<script>
    let table = new DataTable('#tbl-generos');
</script>
<style>
    .dt-input {
        border: 3px solid rgb(0, 162, 255);
    }
</style>
{% endblock %}
